{% extends 'base.html.twig' %}

{% block title %}add points!{% endblock %}

{% block body %}
    <h1>Dodaj punkty</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    
    <button type="submit">add</button>
    {{ form_end(form) }}

{% endblock %}